<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Budgets</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Liste des Budgets</h2>

    <a th:href="@{/admin/budget/new}" class="btn btn-success mb-3">Ajouter un budget</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="budget : ${budgets}">
                <td th:text="${budget.budgetId}">1</td>
                <td th:text="${budget.customerEmail}">MailClient</td>
                <td th:text="${#numbers.formatDecimal(budget.totalAmount, 1, 'COMMA', 2, 'POINT')} + ' €'">100.00 €</td>
            </tr>
            <tr th:if="${#lists.isEmpty(budgets)}">
                <td colspan="6" class="text-center">Aucun budget enregistré.</td>
            </tr>
        </tbody>
    </table>
    
</div>
</body>
</html>
